# Poznámky:
  - moc pěkná dokumentace na https://doc.nette.org/cs/3.0/dependency-injection
  - inspirace v testech https://github.com/nette/di/tree/master/tests/DI
  - možnost inspirace existujícími balíčky a extensions


# Kontakt:
  - Milan Otáhal
  - su@milous.cz
  - https://github.com/milous


### Děkuji za pozornost ###
